* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  width: 90%;
  min-height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .cards {
    margin: 50px auto;
  }
}
